
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
              Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased; 
  line-height: 1.3;
  
}

a {
  color: #0000ff;
  text-decoration: none;
  font-weight: 650;
}

.Hero {
  background: url('../images/resized-react-image.png') ;
  height: 920px;
  background-size: cover;
  background-position: center;
  color: #f0f8ff;
  text-shadow: 2px 2px #000000;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 600px;
  padding: 100px 50px;
  text-align: center;
  color: #f0f8ff;
  text-shadow: 2px 2px #000000;
}

.Hero h1 {
  margin: 0;
  font-size: 60px;
  line-height: 1.2;
}

.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-align: center;
}