
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
              Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased; 
  line-height: 1.3;
  
}

a {
  color: #f54e4e;
  text-decoration: none;
  font-weight: 650;
}

.Hero {
  background: url('../images/resized-react-image.png') ;
  height: 1100px;
  background-size: cover;
  background-position: center;
  color: #f0f8ff;
  text-shadow: 2px 2px #000000;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 600px;
  padding: 100px 50px;
  text-align: center;
  color: #f0f8ff;
  text-shadow: 2px 2px #000000;
}

.Hero h1 {
  margin: 0;
  font-size: 60px;
  line-height: 1.2;
}

.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0,0,0,0.4);
  text-align: center;
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }
  .Hero h1 {
    font-size: 40px;
  }
  .Hero p {
    font-size: 24px;
  }
}